<%- include('../partials/head') %>

<div class="container">
  <div class="card">
    <img src="<%= product.image %>" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p>Package Price: <%= product.price %></p>
      <p><b>Included Services</b></p>
      <ul class="list-group">
        <% product.services.forEach((element) => { %>
        <li class="list-group-item">
          <%= element.name %>(<%= element.type %>)
        </li>
        <% }); %>
      </ul>

      <% if(cart.addons.length > 0) { %>
      <p><b>Selected Addons</b></p>
      <ul class="list-group">
        <% cart.addons.forEach((element) => { %>
        <li class="list-group-item">
          <%= element.name %>($<%= element.price %>)
          <form
            method="post"
            action="/products/customize/addons/delete/<%= element.slug %>?_method=DELETE"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </li>
        <% }); %>
      </ul>
      <% } %> <% if(addons.length > 0) { %>
      <p><b>Available Addons</b></p>
      <ul class="list-group">
        <% addons.forEach((element) => { %>
        <li class="list-group-item">
          <%= element.name %>, (<%= element.price %>)
          <form
            method="post"
            action="/products/customize/addons/add/<%= element.slug %>"
          >
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </li>
        <% }); %>
      </ul>
      <% } %>

      <p>Total Package Price: <%= totalPrice %></p>
    </div>
    <div class="card-footer">
      <form method="DELETE" action="/products/customize/cancel">
        <button type="submit" class="btn">Cancel Order</button>
      </form>

      <form method="POST" action="/products/customize/finalize">
        <button type="submit" class="btn btn-primary">Finalize Order</button>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/foot') %>
