<%- include('../partials/head') %>

<div class="container">
  <div class="row">
    <% if (products.length !== 0) { %> <% products.forEach((element) => { %>

    <div class="col-4">
      <div class="card mb-3">
        <h3 class="card text-center"><%= element.name %></h3>
        <div class="card-body">
          <h5 class="card-title"><%= element.package %></h5>
          <p class="text-center">Price(SGD): <%= element.price %></p>
          <a href="/products/show/<%= element.slug %>" class="btn btn-info"
            >View Product</a
          >
        </div>
      </div>
    </div>

    <% }); %> <% } else { %>

    <p>No product is available</p>

    <% } %>
  </div>
</div>

<%- include('../partials/foot') %>
