<%- include('../partials/head') %>

<div class="container">

  <div class="row">
    
    <div class="col-6 offset-3">

      <div class="card">
        <img src="<%= product.image %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <ul class="list-group">
            <% product.products.forEach((element) => { %>
              <li class="list-group-item"><%= element.name %>(<%= element.type %>)</li>
            <% }); %>
          </ul>
          <form method="post" action="/products/new<%= product.slug %>>
            <button type="submit" class="btn btn-primary">Customize</a>
          </form>
        </div>
      </div>

    </div>

  </div>

  <section id="product-ratings" class="mt-5">

    <ul class="list-group">

      <% ratings.forEach(element => { %>

        <li class="list-group-item">
          <p>Rating Score: <%= element.rating %> </p>
          <p>Comment: <%= element.comment %></p>
          <p>Rated At: <%= element.created_at %> </p>
        </li>

      <% }); %>
    </ul>

  </section>

</div>

<%- include('../partials/foot') %>
