<%- include('../partials/head') %>

<div class="container">

  <div class="row">
    
    <div class="col-6 offset-3">

      <div class="card">
        <img src="<%= product.image %>" class="card-img-top">
        <div class="card-body">
          <h2 class="card text-center"><%= product.name %></h2>
          <ul class="list-group">
            <% product.services.forEach((element) => { %>
              <li class="list-group-item"><%= element.name %> (<%= element.type %>)</li>
            <% }); %>
          </ul>
          <form method="get" action="/products/customize/<%= product.slug %>">
            <button type="submit" class="btn btn-primary">Customize Product</a>
          </form>

          <form method="get" action="/products/">
            <button type="submit" class="btn btn-secondary">Back</a>
          </form>
        </div>
      </div>

    </div>

  </div>



</div>

<%- include('../partials/foot') %>
